In [7]:
# Import necessary libraries
import os
import pandas as pd
import configparser

In [8]:
# Get AWS credentials
aws_cred_filepath = os.path.join(os.path.expanduser("~"), '.aws', 'credentials')
aws_credentials = configparser.ConfigParser()
aws_credentials.read(aws_cred_filepath)
aws_access_key_id = aws_credentials.get('default', 'aws_access_key_id')
aws_secret_access_key = aws_credentials.get('default', 'aws_secret_access_key')

In [13]:
# Read in data from S3
s3_bucket = 's3://mlds-final-project-bucket/'
s3_data_path = 'kdd12/train/training.txt'
s3_data_url = s3_bucket + s3_data_path
data = pd.read_csv(
    s3_data_url,
    delimiter='\t',
    storage_options={
        'key': aws_access_key_id,
        'secret': aws_secret_access_key
    },
    nrows = 10000,
    header=None,
    names=['Click','Impression','DisplayURL','AdID','AdvertiserID','Depth','Position','QueryID','KeywordID','TitleID','DescriptionID','UserID']
    )

In [14]:
data.head()

,Click,Impression,DisplayURL,AdID,AdvertiserID,Depth,Position,QueryID,KeywordID,TitleID,DescriptionID,UserID
0,0,1,4298118681424644510,7686695,385,3,3,1601,5521,7709,576,490234
1,0,1,4860571499428580850,21560664,37484,2,2,2255103,317,48989,44771,490234
2,0,1,9704320783495875564,21748480,36759,3,3,4532751,60721,685038,29681,490234
3,0,1,13677630321509009335,3517124,23778,3,1,1601,2155,1207,1422,490234
4,0,1,3284760244799604489,20758093,34535,1,1,4532751,77819,266618,222223,490234

In [15]:
data.shape

(10000, 12)