In [1]:
# Import necessary libraries
import os
import pandas as pd
import configparser

In [2]:
# Get AWS credentials
aws_cred_filepath = os.path.join(os.path.expanduser("~"), '.aws', 'credentials')
aws_credentials = configparser.ConfigParser()
aws_credentials.read(aws_cred_filepath)
aws_access_key_id = aws_credentials.get('default', 'aws_access_key_id')
aws_secret_access_key = aws_credentials.get('default', 'aws_secret_access_key')

In [3]:
# Read in data from S3
s3_bucket = 's3://mlds-final-project-bucket/'
s3_data_path = 'clickstream data for online shopping/e-shop clothing 2008.csv'
s3_data_url = s3_bucket + s3_data_path
data = pd.read_csv(
    s3_data_url,
    delimiter=';',
    storage_options={
        'key': aws_access_key_id,
        'secret': aws_secret_access_key
    }
    )

In [4]:
data.head()

,year,month,day,order,country,session ID,page 1 (main category),page 2 (clothing model),colour,location,model photography,price,price 2,page
0,2008,4,1,1,29,1,1,A13,1,5,1,28,2,1
1,2008,4,1,2,29,1,1,A16,1,6,1,33,2,1
2,2008,4,1,3,29,1,2,B4,10,2,1,52,1,1
3,2008,4,1,4,29,1,2,B17,6,6,2,38,2,1
4,2008,4,1,5,29,1,2,B8,4,3,2,52,1,1